.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Adjusts space evenly between items */
    position: absolute;
    top: 0;
    width: 100%;
    /* Full width of the viewport */
    height: 50px;
    /* Adjust height as necessary */
    background-color: #0090ff;
    /* Blue background for the nav bar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensures nav bar is on top */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px 20px;
}

.home {
    background-image: url('../images/home.png');
}

.github {
    background-image: url('../images/github.png');
}

.privacy {
    background-image: url('../images/privacy.png');
}