.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 15px;
    padding: 10px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-size: 20px 20px;
    background-color: #0090ff;
    background-repeat: no-repeat;
    text-align: center;
}

.home {
    right: 540px;
    background-image: url('../images/home.png');
}

.github {
    right: 350px;
    background-image: url('../images/github.png');
}

.privacy {
    right: 160px;
    background-image: url('../images/privacy.png');
}