.banner {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 10px 50px;
    width: 50px;
    height: 20px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.home {
    right: 540px;
    background: url('../images/home.png') #0090ff no-repeat center;
}

.github {
    right: 350px;
    background: url('../images/github.png') #0090ff no-repeat center;
}

.privacy {
    right: 160px;
    background: url('../images/privacy.png') #0090ff no-repeat center;
}