/*******************************************************************************
Content
*******************************************************************************/
#header_wrap h1,
#header_wrap h2,
#header_wrap h3,
#header_wrap h4,
#header_wrap h5,
#header_wrap h6 {
    padding-bottom: 0px;
}

#project_title {
    margin-right: 20px;
}

#main_content {
    padding-top: 10px;
}

#main_content_wrap {
    background: linear-gradient(to bottom, #02162e 0%, #06355c 50%, #02162e 100%);
    position: relative;
    color: #ffffff;
}

#main_content_wrap h1,
#main_content_wrap h2,
#main_content_wrap h3,
#main_content_wrap h4,
#main_content_wrap h5,
#main_content_wrap h6 {
    color: #ffffff;
    background: none;
}

#main_content_wrap::before,
#main_content_wrap::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 18px;
}

#main_content_wrap::before {
    background: linear-gradient(to bottom,
            #00000000 0%,
            #02162e 20%,
            #084070 50%,
            #072c5a 80%,
            #02162e 100%);
    top: -18px;
}

#main_content_wrap::after {
    background: linear-gradient(to bottom,
            #02162e 0%,
            #072c5a 20%,
            #084070 50%,
            #02162e 80%,
            #00000000 100%);
    bottom: -18px;
}

#footer_wrap {
    background: linear-gradient(to bottom, #000000 0%, #333333 100%);
}

#footer_wrap .inner {
    padding-top: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.home,
.github,
.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::after {
    background-image: url('../images/home.png');
}

.github::after {
    background-image: url('../images/github.png');
}

.privacy::after {
    background-image: url('../images/privacy.png');
}

.home:hover {
    border-bottom-left-radius: 20px;
}

.privacy:hover {
    border-bottom-right-radius: 20px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px 20px;
}

.header {
    display: flex;
    margin-top: 10px;
}

.header-text {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.header-download {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-end;
    margin-left: auto;
}

.line {
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0.6), rgba(0, 255, 255, 0));
    box-shadow: 0px 0px 8px 2px rgba(0, 255, 255, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 40px;
    background: linear-gradient(to right, navy, #005085);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: 4px solid rgb(18, 0, 179);
    border-right: 4px solid rgb(18, 0, 179);
    border-bottom: 4px solid rgb(18, 0, 179);
    border-radius: 0 0 20px 20px;
    z-index: 1000;
}

.background {
    background: url('../images/background.png') repeat-y top;
    flex-grow: 1;
    width: 200px;
    animation: move 10s linear infinite;
}

.icon {
    background: url('../images/icon.png') no-repeat center;
    flex-grow: 1;
    width: 200px;
}

.commands {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;
}

.other-commands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.command-links {
    display: flex;
    gap: 25px;
}

@keyframes move {
    0% {
        background-position: center 0;
    }

    100% {
        background-position: center 622px;
    }
}

@keyframes moveLeft {
    0% {
        background-position: right 0;
    }

    100% {
        background-position: right 622px;
    }
}

@keyframes moveRight {
    0% {
        background-position: left 0;
    }

    100% {
        background-position: left 622px;
    }
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

#header_wrap {
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
}

.inner {
    width: 50%;
    max-width: 50%;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    text-decoration: none;
    position: relative;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border-right: 4px solid rgb(18, 0, 179);
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    text-align: center;
}

.menu a::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.menu a:last-child {
    border-right: none;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.invite {
    display: flex;
    background-color: #7289da;
    color: white;
    width: 80px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.invite:hover {
    background-color: #5b6dad;
}

.zip {
    background: url('../images/zip.png');
    background-size: contain;
    width: 90px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0;

}

.tar {
    background: url('../images/tar.png');
    background-size: contain;
    width: 90px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0;
}

.zip:hover {
    background: url('../images/zip_hover.png');
    background-size: contain;
}

.tar:hover {
    background: url('../images/tar_hover.png');
    background-size: contain;
}

.command {
    background: linear-gradient(to right, #150241 0%, #040252 100%);
    color: white;
    font-family: 'Press Start 2P';
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border: 3px solid #28218d;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin-left: 0px;
    margin-right: 0px;
}

.command:hover {
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    text-decoration: none;
}

.right,
right-animation {
    transform: scaleX(-1);
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
    .inner {
        padding-left: 55px;
        padding-right: 55px;
    }

    .menu a {
        font-size: 12px;
    }

    .invite {
        width: 56px;
        height: 21px;
    }

    .command {
        font-size: 8px;
    }

    .left,
    .right {
        background-position: right center;
    }

    .left-animation {
        animation: moveLeft 10s linear infinite;
    }

    .right-animation {
        animation: moveRight 10s linear infinite;
    }
}

@media screen and (max-width: 680px) {
    .menu a {
        font-size: 10px;
    }

    .zip,
    .tar {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .menu a {
        font-size: 8px;
    }
}